<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <%- include("header") %>
        <% if (!user) { %>
            <h3 class="log"><a href="/login">Login</a></h3>
            <h3 class="log"><a href="/sign-up">Sign Up</a></h3>
            <h3 class="text">Login to upload images.</h3>
            <% } else { %>
                <h3 class="log"><a href="/logout">Log Out</a></h3>
                <h2 class="user">User - <%= user.name %>
                </h2>
                <h3 class="create-folder-button"><a href="/create-folder">Create Folder</a></h3>
                <% if (folders.length> 0) { %>
                    <div class="folders">
                        <h3>Folders</h3>
                        <ul>
                            <% folders.reverse().forEach((folder)=> { %>
                                <li><a href="/folder/<%= folder.id %>">
                                        <%= folder.name %>
                                    </a></li>
                                <% }) %>
                        </ul>
                    </div>
                    <% } else { %>
                        <h3 class="no-folder">No Folder Available</h3>
                        <% } %>
                            <% } %>
</body>

</html>